.bigSidebar {
	display: none;
}
@media (min-width: 992px) {
	.bigSidebar {
		display: block;
		box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
	}
	.bigSidebar-container {
		background: var(--background-secondary-color);
		min-height: 100vh;
		height: 100%;
		width: 250px;
		margin-left: -250px;
		transition: margin-left 0.3s ease-in-out;
	}
	.bg-content {
		position: sticky;
		top: 0;
		text-align: center;
		padding: 1rem 0;
	}
	.show-bgSidebar {
		margin-left: 0;
	}
	.bigSidebar header {
		height: 7rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bigSidebar .nav-links {
		padding-top: 2rem;
		display: flex;
		flex-direction: column;
	}
	.bigSidebar .nav-link {
		display: flex;
		font-size: 1.1rem;
		align-items: center;
		color: var(--grey-700);
		padding: 1rem 0;
		padding-left: 2.5rem;
		text-transform: capitalize;
		transition: padding-left 0.3s ease-in-out;
	}
	.bigSidebar .nav-link:hover {
		padding-left: 3rem;
		color: var(--primary);
		transition: var(--transition);
	}
	.bigSidebar .icon {
		font-size: 1.5rem;
		margin-right: 1rem;
		display: grid;
		place-items: center;
	}

	.bigSidebar .active {
		color: var(--primary) !important;
		font-weight: 500;
		font-size: 1.5rem;
	}

	/* Dark theme nav link styles */
	.dark-theme .nav-link {
		color: var(--dark-mode-text-color);
	}

	.dark-theme .nav-link:hover {
		color: var(--primary);
	}
}
